* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #4b0082, #000);
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.image-box {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 450px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.image-preview {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.image-preview__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

